# App
NEXT_PUBLIC_APP_URL=
NEXT_PUBLIC_SITE_NAME=

# NextAuth
NEXTAUTH_URL=
NEXTAUTH_SECRET=

# Kakao OAuth
KAKAO_CLIENT_ID=
KAKAO_CLIENT_SECRET=

# Database
DATABASE_URL=

# Gemini
GEMINI_API_KEY=

# Security
ROOM_TOKEN_SECRET=
CRON_SECRET=

# Mock Server
NEXT_PUBLIC_MOCK_API_URL=
