@use '@/styles/abstracts/variables' as v;
@use '@/styles/abstracts/functions' as fn;
@use '@/styles/abstracts/mixins' as m;

.main {
  padding: fn.r(24) fn.r(20) fn.r(100);
  overflow-y: auto;
}

.terms {
  display: flex;
  flex-direction: column;
  gap: fn.r(32);
}

.section {
  display: flex;
  flex-direction: column;
  gap: fn.r(12);

  &__title {
    @include m.text-title-s;

    color: var(--text-primary);
  }

  &__body {
    display: flex;
    flex-direction: column;
    gap: fn.r(10);
  }

  &__paragraph {
    @include m.text-body-s;

    color: var(--text-secondary);
    word-break: keep-all;
    overflow-wrap: break-word;
  }
}

.footer {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  padding: fn.r(16) fn.r(20);
  background-color: var(--bg-page);
  border-top: 1px solid var(--border-default);

  @include m.respond-to('md') {
    max-width: v.$container-max-width;
    margin: 0 auto;
    left: 50%;
    transform: translateX(-50%);
    width: 100%;
  }
}
