@use '@/styles/abstracts/functions' as fn;
@use '@/styles/abstracts/mixins' as typo;

.create-diary {
  display: flex;
  flex-direction: column;
  min-height: 100dvh;
  padding: fn.r(16);
  padding-bottom: fn.r(96);

  &__section {
    margin-bottom: fn.r(24);
  }

  &__title {
    margin: fn.r(16) 0;
    @include typo.text-body-s;
  }

  &__form-area {
    position: relative;
  }

  &__form {
    display: flex;
    flex-direction: column;
    gap: fn.r(12);

    &--loading {
      opacity: 0.4;
      pointer-events: none;
    }
  }

  &__spinner-overlay {
    position: absolute;
    inset: 0;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  &__textarea {
    min-height: fn.r(350);
  }

  &__submit {
    margin-top: fn.r(100);
  }

  &__modal-content {
    display: flex;
    flex-direction: column;
    gap: fn.r(20);
    padding: fn.r(4) 0 fn.r(4);
    text-align: center;
    @include typo.text-title-s;
  }
}
