@use '../../styles/abstracts/variables' as v;
@use '../../styles/abstracts/functions' as fn;

.header {
  width: 100%;
  background-color: var(--bg-page);

  &__logo {
    display: flex;
    align-items: center;
    height: fn.r(56);
    padding: fn.r(16) fn.r(20);
  }

  &__nav {
    display: flex;
    align-items: center;
    height: fn.r(56);
    padding: 0 fn.r(8);
  }

  &__back {
    display: flex;
    align-items: center;
    justify-content: center;
    width: fn.r(40);
    height: fn.r(40);
    flex-shrink: 0;
    color: var(--icon-primary);
    background: none;
    border: none;
    cursor: pointer;
  }

  &__title {
    flex: 1;
    text-align: center;
    font-family: v.$font-family-base;
    font-size: v.$font-size-title-s;
    font-weight: v.$font-weight-semibold;
    line-height: v.$line-height-title-s;
    color: var(--text-primary);
  }

  &__title--with-back {
    padding-right: fn.r(40);
  }

  &__subtitle {
    padding: fn.r(10) fn.r(20);
    font-family: v.$font-family-base;
    font-size: v.$font-size-body-m;
    font-weight: v.$font-weight-medium;
    line-height: v.$line-height-body-m;
    color: var(--text-brand);
    border-top: 1px solid var(--border-default);
  }
}
