@use '../../styles/abstracts/functions' as fn;
@use '../../styles/abstracts/variables' as v;
@use '../../styles/abstracts/mixins' as m;

.list {
  list-style: none;
  min-height: fn.r(300);
  margin-block: 10px;
  padding: fn.r(20);
  display: flex;
  flex-direction: column;
  gap: fn.r(8);
}

.empty {
  min-height: fn.r(400);
  display: flex;
  align-items: center;
  justify-content: center;
}

.cardWrapper {
  display: flex;
  flex-direction: column;
  box-shadow: inset 0 0 0 2px v.$color-black-700;
  border-radius: fn.r(12);
  background-color: var(--bg-surface);
  overflow: hidden;
  text-decoration: none;
  color: inherit;

  &:active {
    opacity: 0.8;
  }

  > article {
    border: none;
    border-radius: 0;
    background-color: transparent;
    padding-bottom: 0;

    time { display: none; }

    > p { margin-bottom: fn.r(8); }
  }
}

.cardFooter {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 fn.r(16) fn.r(16);
}

.cardFooterLeft {
  display: flex;
  align-items: center;
  gap: fn.r(8);
}


.cardDate {
  @include m.text-label-s;

  color: v.$color-black-400;
}
