@use '@/styles/abstracts/functions' as fn;
@use '@/styles/abstracts/variables' as v;
@use '@/styles/abstracts/mixins' as m;

.section {
  flex: 1;
  display: flex;
  flex-direction: column;
  padding-bottom: fn.r(80);
}

.filterWrapper {
  padding: fn.r(16) fn.r(16) fn.r(8);
  border-bottom: 1px solid var(--border-default);
}

.list {
  display: flex;
  flex-direction: column;
  gap: fn.r(12);
  padding: fn.r(16);
  list-style: none;
}

.cardWrapper {
  display: flex;
  flex-direction: column;
  box-shadow: inset 0 0 0 2px v.$color-black-700;
  border-radius: fn.r(12);
  background-color: var(--bg-surface);
  overflow: hidden;
  cursor: pointer;

  &:active {
    opacity: 0.8;
  }

  > article {
    border: none;
    border-radius: 0;
    background-color: transparent;
    padding-bottom: 0;

    time { display: none; }

    > p { margin-bottom: fn.r(8); }
  }
}

.cardFooter {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 fn.r(16) fn.r(16);
}

.cardFooterLeft {
  display: flex;
  align-items: center;
  gap: fn.r(8);
}

.cardDate {
  @include m.text-label-s;

  color: v.$color-black-400;
}

.center {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: fn.r(60) 0;
}

.empty {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: fn.r(16);
  padding: fn.r(60) 0;
}

.emptyText {
  font-size: v.$font-size-body-s;
  color: var(--text-secondary);
}
