@use '../../../../styles/abstracts/variables' as v;
@use '../../../../styles/abstracts/mixins' as typo;
@use '../../../../styles/abstracts/functions' as fn;

.diary {
  padding: fn.r(20);
  background: #fff;
  border-radius: fn.r(12);

  &__body {
    position: relative;
    display: flex;
    flex-direction: column;
    min-height: fn.r(570);
    border: fn.r(2) solid v.$color-black-700;
    border-radius: fn.r(8);
    margin: 30px 20px;
    padding: fn.r(20);
    background: linear-gradient(to bottom, #fff, #ebf0f7);
  }

  &__character {
    position: absolute;
    bottom: fn.r(13);
    right: fn.r(-100);
    opacity: 50%;
  }

  &__title {
    @include typo.text-title-s;
  }

  &__content {
    @include typo.text-body-s;
    margin-top: fn.r(16);
    margin-bottom: fn.r(20);
  }

  &__createdAt {
    margin-top: auto;
    font-size: fn.r(12);
    color: v.$color-black-400;
  }

  &__actions {
    display: flex;
    gap: fn.r(8);
    margin-top: fn.r(121);
  }
}
