@use '@/styles/abstracts/variables' as v;
@use '@/styles/abstracts/functions' as fn;

.layout {
  display: flex;
  flex-direction: column;
  height: 100dvh;
}

.main {
  flex: 1;
  min-height: 0;
  overflow-y: scroll;

  &::-webkit-scrollbar {
    display: none;
  }

  scrollbar-width: none;
}
