@use '@/styles/abstracts/variables' as v;
@use '@/styles/abstracts/functions' as fn;

.toast {
  width: calc(100vw - fn.r(32));
  max-width: calc(v.$container-max-width - fn.r(32));
  padding: fn.r(14) fn.r(20);
  background-color: v.$color-black-600;
  color: var(--text-inverse);
  border-radius: fn.r(10);
  font-family: v.$font-family-base;
  font-size: v.$font-size-body-s;
  font-weight: v.$font-weight-medium;
  line-height: v.$line-height-body-s;
  text-align: center;
  word-break: keep-all;
  overflow-wrap: break-word;
}
