@use '../../styles/abstracts/variables' as v;
@use '../../styles/abstracts/functions' as fn;
@use '../../styles/abstracts/mixins' as m;

.card {
  display: block;
  border-radius: fn.r(8);
  padding: fn.r(20);
  border: 2px solid v.$color-black-700;

  text-decoration: none;
  cursor: pointer;

  &[data-emotion='happy'] {
    background-color: var(--emotion-happy-bg);
  }
  &[data-emotion='sad'] {
    background-color: var(--emotion-sad-bg);
  }
  &[data-emotion='angry'] {
    background-color: var(--emotion-angry-bg);
  }
  &[data-emotion='annoyed'] {
    background-color: var(--emotion-annoyed-bg);
  }
  &[data-emotion='neutral'] {
    background-color: var(--emotion-neutral-bg);
  }

  &:active {
    opacity: 0.8;
  }

  &__title {
    @include m.text-title-s;
    color: v.$color-black-700;
    margin-bottom: fn.r(4);
  }

  &__content {
    @include m.text-body-s;
    color: v.$color-black-700;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    word-break: keep-all;
    margin-bottom: fn.r(8);
  }

  &__footer {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  &__date {
    @include m.text-label-s;
    color: v.$color-black-400;
  }

  &__emotion {
    flex-shrink: 0;
  }
}
