@use '@/styles/abstracts/variables' as v;
@use '@/styles/abstracts/mixins' as typo;
@use '@/styles/abstracts/functions' as fn;

.calendarWrapper {
  position: relative;
}

.calendarOverlay {
  position: absolute;
  inset: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba(255, 255, 255, 0.6);
}

.summary {
  display: flex;
  align-items: center;
  background-color: var(--bg-surface-soft);
  justify-content: space-between;
  color: v.$color-primary-700;
  margin-top: fn.r(16);
  padding: fn.r(12) fn.r(30);

  &__label,
  &__count {
    @include typo.text-body-m;
  }

  &__count {
    font-weight: bold;
  }
}

.diaryMode {
  margin-top: fn.r(24);
}

.tabContent {
  min-height: fn.r(300);
}

.fab {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: fn.r(115);
  height: fn.r(48);
  margin-left: auto;
  margin-right: fn.r(20);
  margin-bottom: fn.r(80);
  padding: fn.r(12) fn.r(15);
  background-color: v.$color-black-700;
  color: v.$color-white;
  border: none;
  border-radius: fn.r(999);
  @include typo.text-title-s;
}
