@use '../../../styles/abstracts/variables' as v;
@use '../../../styles/abstracts/mixins' as typo;
@use '../../../styles/abstracts/functions' as fn;

.summary {
  display: flex;
  align-items: center;
  background-color: var(--bg-surface-soft);
  justify-content: space-between;
  color: v.$color-primary-700;
  margin-top: 1rem;
  padding: 0.75rem 1.875rem;

  &__label,
  &__count {
    @include typo.text-body-m;
  }

  &__count {
    font-weight: bold;
  }

}

.diaryMode {
  margin-top: fn.r(24);
}

.tabs {
  margin-bottom: fn.r(16);
  padding: 0 fn.r(20);
}

