
.month-closed-number { 
  background-color: var(--bg-button-primary);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 80.6px;
  height: 12rem;
}

.diary-tab {
  display: flex;
  height: 5rem;
  justify-content: space-around;

  
}