@use '@/styles/abstracts/variables' as v;
@use '@/styles/abstracts/mixins' as typo;
@use '@/styles/abstracts/functions' as fn;

.calendarWrapper {
  position: relative;
}

.calendarOverlay {
  position: absolute;
  inset: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba(255, 255, 255, 0.6);
}

.summary {
  display: flex;
  align-items: center;
  background-color: var(--bg-surface-soft);
  justify-content: space-between;
  color: v.$color-primary-700;
  margin-top: fn.r(16);
  padding: fn.r(12) fn.r(30);

  &__label,
  &__count {
    @include typo.text-body-m;
  }

  &__count {
    font-weight: bold;
  }
}

.diaryMode {
  margin-top: fn.r(24);
}

.tabContent {
  min-height: fn.r(300);
}

.fab {
  position: fixed;
  bottom: fn.r(81);
  right: max(fn.r(16), calc((100vw - #{v.$container-max-width}) / 2 + #{fn.r(16)}));
  display: flex;
  align-items: center;
  justify-content: center;
  gap: fn.r(4);
  min-width: fn.r(115);
  height: fn.r(48);
  background-color: v.$color-black-700;
  color: v.$color-white;
  border: none;
  border-radius: fn.r(48);
  cursor: pointer;
  z-index: 101;
  white-space: nowrap;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
  @include typo.text-title-s;
}
