@use '../abstracts/variables' as v;

body {
  font-family: var(--font-pretendard), v.$font-family-base;
  font-size: v.$font-size-base;
  background-color: v.$color-white;
  color: v.$color-black-500;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
