@use '../../styles/abstracts/variables' as v;
@use '../../styles/abstracts/functions' as fn;

.prompt {
  border: 1px dashed var(--border-brand);
  border-radius: fn.r(12);
  padding: fn.r(20) fn.r(16);

  &__message {
    font-family: v.$font-family-base;
    font-size: v.$font-size-body-s;
    font-weight: v.$font-weight-medium;
    line-height: v.$line-height-body-s;
    color: var(--text-primary);
    text-align: center;
    margin-bottom: fn.r(16);
    word-break: keep-all;
  }

  &__actions {
    display: flex;
    gap: fn.r(8);

    > * {
      flex: 1;
    }
  }
}
