@use '@/styles/abstracts/functions' as fn;
@use '@/styles/abstracts/mixins' as m;

.tabList {
  display: inline-flex;
  gap: fn.r(8);
}

.label {
  font-size: fn.r(16);
  line-height: fn.r(28);
}

.tabItem {
  min-width: fn.r(60);
  padding: fn.r(4) fn.r(16);
  border-radius: fn.r(4);
  cursor: pointer;
  transition: all 0.15s ease;
  border: 1px solid var(--border-strong);
  white-space: nowrap;
  @include m.text-body-m;

  &--inactive {
    background-color: var(--bg-page);
    color: var(--text-secondary);
    font-weight: 400;
  }

  &--active {
    background-color: var(--bg-page);
    color: var(--text-primary);
    font-weight: 700;
    border-color: var(--text-primary);
  }
}
