@use '../../styles/abstracts/variables' as v;
@use '../../styles/abstracts/functions' as fn;

.tabs {
  display: flex;

  &__tab {
    flex: 1;
    height: fn.r(42);
    font-family: v.$font-family-base;
    font-weight: v.$font-weight-bold;
    color: var(--text-secondary);
    border-bottom: 2px solid transparent;
    cursor: pointer;

    &--active {
      color: var(--text-primary);
      border-bottom: 2px solid var(--text-primary);
    }
  }
}
